<p-dialog (onHide)="navigatePresents()" [style]="{width: '450px'}" header="Present Details" [modal]="true"  [(visible)]="isDialog"
styleClass="p-fluid"> 
 <ng-template pTemplate="content" [formGroup]="frmPresent">

        <div class="p-field">
            <div><label for="name">Name</label></div>
            <input type="text"  pInputText id="name"  formControlName="name" required autofocus/>
            <div>
            <small class="p-error" *ngIf="frmPresent.controls['name'].errors && frmPresent.controls['name'].errors['required']">Name is required.</small>
            <small class="p-error" *ngIf="frmPresent.controls['name'].errors && frmPresent.controls['name'].errors['NotUniqName']">Name is Unik.</small>
            </div>
        </div>
        <div class="p-field">
            <div><label for="donorId">Donor Name</label></div>
            <!-- <input type="text" pInputText  id="donor" formControlName="donor" /> -->
           <select pInputText  id="donorId" formControlName="donorId">
                <option *ngFor="let item of donorsList " [value]="item.id">{{item.firstName}} {{item.lastName}}</option>
            </select> 
            <div>
            <small class="p-error" *ngIf="frmPresent.controls['donorId'].errors && frmPresent.controls['donorId'].errors['maxlength']">Donor name mustn't be more than 50 chars </small>
            </div>
        </div>
        <div class="p-field">
            <div><label for="category">Cateory</label></div>
                <input type="text"  pInputText id="category"  formControlName="category" required autofocus/>       
                <div>
                <small class="p-error" *ngIf="frmPresent.controls['category'].errors && frmPresent.controls['category'].errors['required']">Category is required.</small>
            </div>  
        </div>
        <div class="p-field">
            <div><label for="picture">Picture</label></div>
                <input type="text"  pInputText id="picture"  formControlName="picture" />       
                <div>
            </div>  
        </div>
        <div class="p-field">
            <div><label for="price">Present Price</label></div>
            <p-inputNumber id="price" formControlName="price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>       
            <div>
            <small class="p-error" *ngIf="frmPresent.controls['price'].errors && frmPresent.controls['price'].errors['required']">Price is required.</small>
            <small class="p-error" *ngIf="frmPresent.controls['price'].errors && frmPresent.controls['price'].errors['min']">price must be more than 10$ </small>
            <small class="p-error" *ngIf="frmPresent.controls['price'].errors && frmPresent.controls['price'].errors['max']">price must be less than 60$  </small>
            </div>  
        </div>

       
</ng-template>
<ng-template pTemplate="footer">
    <p-button  label="Cancel" severity="warning" icon="pi pi-times" [text]="true" [raised]="true" class="p-button-text" (click)="navigatePresents()"></p-button>
    <p-button [disabled]="frmPresent.invalid" severity="warning" label="Save" [text]="true" [raised]="true" icon="pi pi-check" class="p-button-text" (click)="send()"></p-button>
</ng-template>
</p-dialog>








     <!-- <div class="form-group row">
        <div class="control-label col-2"><label>שם:</label></div>
        <div class="control-label  col-4">
            <input type="text" class="form-control" formControlName="name" 
                [ngClass]="{'has-error':!frmPresent.controls['name'].valid && frmPresent.controls['name'].touched}" />
        </div>
        <span *ngIf="frmPresent.controls['name'].errors && frmPresent.controls['name'].errors['required']">שם המתנה הוא חובה </span>
        <span *ngIf="frmPresent.controls['name'].errors && frmPresent.controls['name'].errors['NotUniqName']">שם המתנה הוא יחודי, שנה שם </span>
    </div> -->
<!-- 
    <div class="form-group row">
        <div class="control-label  col-2"><label>שם התורם:</label></div>
        <div class="control-label  col-4">
            <input type="text" class="form-control" formControlName="donor" 
                [ngClass]="{'has-error':!frmPresent.controls['donor'].valid && frmPresent.controls['donor'].touched}" />
        </div>
        <span *ngIf="frmPresent.controls['donor'].errors && frmPresent.controls['donor'].errors['maxlength']">שם התורם לא יעלה על 30 תווים</span>
    </div> -->

    <!-- <div class="form-group row">
        <div class="control-label  col-2"><label>עלות כרטיס:</label></div>
        <div class="control-label  col-4">
            <input type="number" class="form-control" formControlName="price" 
                [ngClass]="{'has-error':!frmPresent.controls['price'].valid && frmPresent.controls['price'].touched}" />
        </div>
        <span *ngIf="frmPresent.controls['price'].errors && frmPresent.controls['price'].errors['required'] ">מחיר הכרטיס הוא חובה </span>
        <span *ngIf="frmPresent.controls['price'].errors && frmPresent.controls['price'].errors['min'] ">המינימום הוא 10 ש"ח</span>
        <span *ngIf="frmPresent.controls['price'].errors && frmPresent.controls['price'].errors['max'] ">המקסימום הוא 60 ש"ח</span>
    </div> -->
    
    <!-- <button (click)="send()"  [disabled]="frmPresent.invalid">שלח נתונים</button> -->

